<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<!--Line Breaks-->
		<Rule Id="SA1500" Action="None" />
		<Rule Id="SA1501" Action="Warning" />
		<Rule Id="SA1502" Action="None" />
		<Rule Id="SA1107" Action="None" />
		<Rule Id="SA1103" Action="None" />
		<Rule Id="SA1104" Action="None" />
		<Rule Id="SA1105" Action="None" />
		<Rule Id="SA1110" Action="None" />
		<Rule Id="SA1112" Action="None" />
		<Rule Id="SA1113" Action="None" />
		<Rule Id="SA1111" Action="Error" />
		<Rule Id="SA1116" Action="None" />
		<Rule Id="SA1117" Action="None" />
		<!--Spaces-->
		<Rule Id="SA1000" Action="None" />
		<Rule Id="SA1001" Action="None" />
		<Rule Id="SA1002" Action="None" />
		<Rule Id="SA1003" Action="None" />
		<Rule Id="SA1007" Action="None" />
		<Rule Id="SA1008" Action="None" />
		<Rule Id="SA1009" Action="None" />
		<Rule Id="SA1010" Action="None" />
		<Rule Id="SA1011" Action="None" />
		<Rule Id="SA1012" Action="None" />
		<Rule Id="SA1013" Action="None" />
		<Rule Id="SA1014" Action="None" />
		<Rule Id="SA1015" Action="None" />
		<Rule Id="SA1016" Action="None" />
		<Rule Id="SA1017" Action="None" />
		<Rule Id="SA1019" Action="None" />
		<Rule Id="SA1020" Action="None" />
		<Rule Id="SA1024" Action="None" />
		<Rule Id="SA1027" Action="Warning" />
		<!--Blank Lines-->
		<Rule Id="SA1505" Action="None" />
		<Rule Id="SA1508" Action="Error" />
	</Rules>
</RuleSet>